.fourth__block {
  width: 200px;
  height: 400px;
}

.fourth__top__bar {
  width: 200px;
  height: 15px;
  background-color: thistle;
}

.fourth__sec__bar {
  background-color: white;
  height: 50px;
}

.fourth__thd__bar {
  background-color: white;
  height: 50px;
}

.fourth__bot__bar {
  width: 200px;
  height: 265px;
  background-color: thistle;
}

.fourth__thd__bar h4 {
  margin-top: 0;
}
