.subtitle_box {
  margin-top: 50px;
  margin-left: 15px;
  font-size: 13px;
}

.Top-Adventures {
  margin-left: 15px;
  font-size: 13px;
}

.Popular-authors {
  margin-left: 15px;
  font-size: 13px;
}
