.title__box {
  background-color: #ffce33;
  width: 341px;
  height: 101px;
  padding: 0px 12px;
  font-size: 20px;
}

.title__box h1 {
  font-size: 20px;
}
.title__box2 {
  display: flex;
  padding-top: 22px;
  justify-content: space-between;
  align-items: center;
}
